[submodule "planificador-de-procesos"]
	path = planificador-de-procesos
	url = https://github.com/pullusdoctus/planificador-de-procesos
[submodule "dsa"]
	path = dsa
	url = https://github.com/pullusdoctus/ci0116_25a_b96804
[submodule "tareas_ensambla"]
	path = tareas_ensambla
	url = https://github.com/pullusdoctus/tareas-ensambla
[submodule "assembler-voice-assistant"]
	path = assembler-voice-assistant
	url = https://github.com/pullusdoctus/assembler-voice-assistant
[submodule "probabilidad-y-estadistica"]
	path = probabilidad-y-estadistica
	url = https://github.com/pullusdoctus/probabilidad-y-estadistica
[submodule "proyectos-los-np-duros"]
	path = proyectos-los-np-duros
	url = https://github.com/UCR-ECCI-MM/proyectos-los-np-duros.git
[submodule "CI0123-G3-E2"]
	path = CI0123-G3-E2
	url = git@github.com:pullusdoctus/CI0123-G3-E2.git
[submodule "CI0123-PI_RedesOper-B96804"]
	path = CI0123-PI_RedesOper-B96804
	url = git@github.com:pullusdoctus/CI0123-PI_RedesOper-B96804.git
